# Import blocks for TEAM application assignments (single-state mode)
# These import existing assignments into Terraform state
# In single-state mode, team is a child module so we need module.team. prefix

{% for assignment in assignments %}
{% if assignment.PrincipalType == "USER" %}
# Import user assignment: {{ assignment.PrincipalName }}
import {
  to = module.team.module.team_app_assignment_users["{{ assignment.PrincipalName }}"].aws_ssoadmin_application_assignment.this
  id = "{{ assignment.ApplicationArn }},{{ assignment.PrincipalId }},{{ assignment.PrincipalType }}"
}
{% elif assignment.PrincipalType == "GROUP" %}
# Import group assignment: {{ assignment.PrincipalName }}
import {
  to = module.team.module.team_app_assignment_groups["{{ assignment.PrincipalName }}"].aws_ssoadmin_application_assignment.this
  id = "{{ assignment.ApplicationArn }},{{ assignment.PrincipalId }},{{ assignment.PrincipalType }}"
}
{% endif %}

{% endfor %}
