output "groups_map" {
  value = local.groups_map
}

output "group_memberships_map" {
  value = local.group_memberships_map
}

output "group_memberships_map_scim" {
  value = local.group_memberships_map_scim
}

output "users_map" {
  value = local.users_map
}
