variable "AWS_REGION" {
  type      = string
  sensitive = false
  default   = "{{ aws_region }}"
}

variable "MODIFIED_BY_USER" {
  type      = string
  sensitive = false
  default   = "terraform"
}
