{% for permission_set in permission_sets %}
{% if permission_set.HasPermissionsBoundary %}
import {
  to = {{ module_prefix }}aws_ssoadmin_permissions_boundary_attachment.controller["{{ permission_set.ResourceName }}"]
  id = "{{ permission_set.ImportId }}"
}
{% endif +%}
{% endfor %}
