resource "aws_ssoadmin_permission_set_inline_policy" "controller" {
  for_each = {
    for f in fileset("${path.module}/inline_policies", "*.json") :
    trimsuffix(basename(f), ".json") => f
  }

  instance_arn       = local.sso_instance_arn
  permission_set_arn = local.permission_sets_map[each.key]
  inline_policy = file("${path.module}/inline_policies/${each.value}")
}
